<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Health_center_management.Properties.Settings.VeritabaniConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=veritabani2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Health_center_management.Properties.Settings.veritabani2ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=veritabani2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>